<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="D:\\\${shortdate}\${date:format=HH}\" />
  <variable name="logFormat" value="[${level:uppercase=true}][${longdate}] ==> ${message} ==> ${exception} ==> ${stacktrace:format=DetailedFlat}" />
  <targets async="true">
    <default-wrapper xsi:type="BufferingWrapper" flushTimeout="100" bufferSize="100" />
    <default-target-parameters xsi:type="File" encoding="utf-8" fileAttributes="Compressed" layout="${logFormat}" keepFileOpen="true"/>
    <target name="DaoDaoError" xsi:type="File" fileName="${logDirectory}/DaoDaoError.log" />

  </targets>
  <rules>
    <logger name="DaoDaoError" minlevel="Error" writeTo="DaoDaoError" final="true" />


    
  </rules>
</nlog>
